2captcha-python==1.2.8
about-time==4.2.1
aiofiles==23.2.1
aiogram==3.8.0
aiohttp==3.9.5
aiosignal==1.3.1
alive-progress==3.1.5
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.4.0
APScheduler==3.10.4
attrs==23.2.0
autoflake==2.3.1
autopep8==2.3.1
beautifulsoup4==4.12.3
black==24.8.0
blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
bs4==0.0.2
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colorlog==6.8.2
cryptography==43.0.0
Eel==0.16.0
et-xmlfile==1.1.0
fake-headers==1.0.2
fake-useragent==1.5.1
Faker==25.3.0
fernet==1.0.1
Flask==3.0.3
frozenlist==1.4.1
future==1.0.0
getuseragent==0.0.7
gevent==24.2.1
gevent-websocket==0.10.1
grapheme==0.6.0
greenlet==3.0.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==0.17.3
httpx==0.24.1
hyperframe==6.0.1
idna==3.7
instaloader==4.13
itsdangerous==2.2.0
Jinja2==3.1.4
magic-filter==1.0.12
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mechanize==0.4.10
mnemonic==0.21
ms4==2.10.0
multidict==6.0.5
mypy-extensions==1.0.0
nopecha==2.0.1
numpy==1.26.2
OneClick==3.0.1
opencv-python==4.9.0.80
openpyxl==3.1.3
outcome==1.3.0.post0
packaging==24.0
pandas==2.0.3
pathlib2==2.3.7.post1
pathspec==0.12.1
pdfminer.six==20221105
pdfplumber==0.7.6
pefile==2023.2.7
Pillow==10.1.0
platformdirs==4.2.2
psutil==5.9.8
py2exe==0.13.0.1
pyaes==1.6.1
pyasn1==0.6.0
pycodestyle==2.12.1
pycountry==23.12.11
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.7.4
pydantic_core==2.18.4
pydub==0.25.1
pydumpck==1.20.1
pyfiglet==1.0.2
pyflakes==3.2.0
Pygments==2.18.0
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
pyparsing==3.1.2
pypresence==4.3.0
Pyrogram==2.0.106
PySocks==1.7.1
pystyle==2.9
pyTelegramBotAPI==4.18.1
python-cfonts==1.5.2
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
rarfile==4.0
redis==5.0.4
requests==2.31.0
rich==13.7.1
rsa==4.9
scidatetime==1.20.2
selenium==4.24.0
sgtpyutils==1.20.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
spark-parser==1.8.9
SpeechRecognition==3.10.4
startup==0.4.0
stdiomask==0.0.6
stripe==10.2.0
telebot==0.0.5
telegram==0.0.1
Telethon==1.30.0
term-background==1.0.1
tinyaes==1.1.0
tqdm==4.66.1
trio==0.26.0
trio-websocket==0.11.1
TwoCaptcha==0.0.1
typing_extensions==4.12.0
tzdata==2024.1
tzlocal==5.2
uncompyle6==3.9.1
urllib3==1.26.6
user_agent==0.1.10
uuid==1.30
validators==0.33.0
Wand==0.6.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
whichcraft==0.6.1
wsproto==1.2.0
xdis==6.1.0
yarl==1.9.4
zope.event==5.0
zope.interface==6.4.post2
